form {
  width: 800px;
}

.nameFieldRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  gap: 8px;
}

.footerText {
  margin: 14px 0;
  text-align: center;
  & :last-child {
    text-decoration: underline;
  }
}

.button {
  margin: 8px 0;
}

.loginFormPassword {
  margin: 8px 0;
}